#container {
	width: 800px;
	margin: 0 auto;
	font-family: sans;
}

#feeds td {
	padding: 4px;
	font-family: sans;
}

#feeds th.header_left {
	padding: 4px;
	text-align: left;
	font-family: sans;
	font-size: 12pt;
}

#feeds th {
	padding: 4px;
	font-family: sans;
	font-size: 12pt;
}

.chart {
	width: 50%; 
	margin: 0 auto;
}

.foot {
	font-size: 10pt;
}
