#container {
	width: 100%;
	margin: 0 auto;
	font-family: sans;
}

td {
	text-align: center
}

.charts {
    width: 50%;
    margin: 0px auto;
}

.info, table .info {
	font-family: sans;
	font-size: 10pt;
}

